.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 32px;
    // border-bottom: 1px solid #E1E3E9;
    background: rgba(22, 184, 96, 1);
    position: relative;
    @media #{$phone} {
        padding: 16px;
    }
    .btn-hamburger {
        width: 24px;
        height:24px;
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        .bar {
            width: 80%;
            height: 2px;
            background-color: #fff;
        }
    }
    .member-msg {
        @include fontoption(16px, #000, 300, 16px);
        .el-avatar {
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 13px;
        }
    }
    .title-area {
        position: absolute;
        top:0;
        height: 100%;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;        
        h1 {
            @include fontoption(18px, #fff, bold, 18px);
        }        
    }
}
// header
.content__wrap {
    padding: 32px 32px;
    @media #{$phone} {
        padding: 32px 16px;
    }
}
.page-title {
    margin-bottom: 16px;
    h2 {
        @include fontoption(18px, #222222, 600, 18px);
    }    
}

//board
.data-title {
    @include fontoption(16px, #222222, 600, 18px);
}
.el-table th.el-table__cell.is-leaf {
    background: #E2E3E7;
    height: 50px;
    vertical-align: middle;
    @media #{$phone} {
        height: 36px;
    }
}
.el-table th.el-table__cell>.cell {    
    text-align: center;
    @include fontoption(16px, #222222, bold, 16px);
    @media #{$phone} {        
        @include fontoption(14px, #222222, bold, 14px);
    }    
}
.el-table--enable-row-transition .el-table__body td.el-table__cell {
    padding: 20px 0;
    vertical-align: middle;
    background-color: #fff;
    border-bottom: 1px solid #E1E3E9;
    @include fontoption(16px, #717B8A, 300, 18px);
    letter-spacing: -0.04em;
    text-align: center;
    @media #{$phone} {
        padding: 12px 0;
        @include fontoption(13px, #717B8A, 300, 13px);
    }    
}

.el-table__footer-wrapper tbody td.el-table__cell {
    text-align: right;
    padding-right: 12px;
}
.el-table.hide-thead {
    .el-table__header-wrapper {
        display: none;
    }
    .el-table__body-wrapper {
        border-top: 1px solid #AEB7C6;
        tr {
            td {
                &:nth-child(1) {
                    background-color: #F7F8FA;
                    padding: 20px 0;
                    vertical-align: middle;
                    text-align: center;            
                    border-bottom: 1px solid #E1E3E9;
                    @include fontoption(16px, #717B8A, bold, 16px);
                    @media #{$phone} {                
                        padding: 12px 0;
                        @include fontoption(13px, #222, bold, 13px);
                    }
                } 
            }
        }
    }
}

.el-table .cell {padding-left: 0;padding-right:0;}
.el-table {
    &.tbody-th-cell {
        .el-table__body-wrapper {
            tr {
                td {
                    &:nth-child(1) {
                        background-color: #F7F8FA;
                        padding: 20px 0;
                        vertical-align: middle;
                        text-align: center;            
                        border-bottom: 1px solid #E1E3E9;
                        @include fontoption(16px, #717B8A, bold, 16px);
                        @media #{$phone} {                
                            padding: 12px 0;
                            @include fontoption(13px, #222, bold, 13px);
                        }
                    } 
                }
            }
        }

    }
}
.table-list {
    width: 100%;
    thead {
        th {
            background: #E2E3E7;
            height: 50px;
            vertical-align: middle;
            text-align: center;
            @include fontoption(16px, #222222, bold, 16px);
            @media #{$phone} {
                height: 36px;
                @include fontoption(14px, #222222, bold, 14px);
            }
        }
    }
    tbody {
        td {        
            padding: 20px 0;
            vertical-align: middle;
            background-color: #fff;
            border-bottom: 1px solid #E1E3E9;
            @include fontoption(16px, #717B8A, 300, 18px);
            letter-spacing: -0.04em;
            text-align: center;
            @media #{$phone} {
                padding: 12px 0;
                @include fontoption(13px, #717B8A, 300, 13px);
            }            
            &.text-l {
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
                a {
                    display: flex;
                    flex-wrap: wrap;
                    @include ellipsis(2);
                    line-height: 16px;
                }
            }
        }  
    }
    tfoot {
        td {
            background-color: #F7F8FA;
            padding: 20px 0;
            vertical-align: middle;
            text-align: center;
            border-top: 1px solid #AEB7C6;
            border-bottom: 1px solid #E1E3E9;
            @include fontoption(16px, #717B8A, bold, 16px);
            @media #{$phone} {                
                padding: 12px 0;
                @include fontoption(13px, #717B8A, bold, 13px);
            }   
        }
    }
}

.table-body {
    width: 100%;
    border-top: 1px solid #AEB7C6;
    tbody {
        th {
            background-color: #F7F8FA;
            padding: 20px 0;
            vertical-align: middle;
            text-align: center;            
            border-bottom: 1px solid #E1E3E9;
            @include fontoption(16px, #717B8A, bold, 16px);
            @media #{$phone} {                
                padding: 12px 0;
                @include fontoption(13px, #222, bold, 13px);
            }             
        }
        td {        
            padding: 20px 0;
            vertical-align: middle;
            border-bottom: 1px solid #E1E3E9;
            background-color: #fff;
            @include fontoption(13px, #222, 300, 13px);
            letter-spacing: -0.04em;
            text-align: center;
            @media #{$phone} {                
                padding: 12px 0;
                @include fontoption(13px, #222, 300, 13px);
            }  
            &.text-l {
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
                a {
                    display: flex;
                    flex-wrap: wrap;
                    @include ellipsis(2);
                    line-height: 16px;
                }
            }
        }   
    } 
}

//페이지네이션
.bottom__pagination {
    margin: 32px 0 0;
    @media #{$phone} {
        margin: 24px 0;
    }
    .el-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-prev {
            padding-left: 0;
            padding-right: 0;
            background: transparent;
        }
        .btn-next {
            padding-left: 0;
            background: transparent;
        }
        .el-pager {
            li {
                min-width: 28px;   
                background-color: transparent;
                color:#717B8A;
                font-family: $font-montserrat;
                font-weight: 300;                
                &.active {
                    font-weight: 600;
                    color:#409EFF;
                }
            }
        }
    }
}

//검색
.search-option__wrap {
    background: #fff;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media #{$phone} {
        gap: 6px;
    }
    .search-item-rows {
        display: flex;
        align-items: center;
        @media #{$phone} {
            flex-direction: column;
            gap: 6px;
        }
        .button__wrap {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            padding-right: 16px;
            .el-button--primary {
                background: #0072BC;
                border: 0;
                padding: 10px 30px;
            }
            @media #{$phone} {
                width: 100%;
                padding-right: 0;
                margin-top: 12px;
            }
        }
    }
    .search-item-group {
        display: flex;
        align-items: center; 
        justify-content: space-between;
        width: 50%;
        &.gap6 {
            .item-cont {                
                .el-radio-button__inner {
                    padding: 9px 10px !important;
                    
                }
            }
        }
        &:only-child {
            width: 100%;
        }
        .item-tit {
            width: 160px;
            text-align: center;
            @media #{$phone} {
                width: 80px
            }
        }
        .item-cont {
            flex:1;
            padding-right: 16px;
            @media #{$phone} {
                width: calc(100% - 80px);
                padding-right: 0px;
            }
        }
        @media #{$phone} {
            align-items: center;
            width: 100%;
            gap: 6px;
            justify-content: flex-start;
        }
    }
    .date-select-area {
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: flex-start;
        .el-radio-group {
            display: flex;
            align-items: center;
        }
        .date-picker {
            display: flex;
            align-items: center;
            gap: 4px;
            @media #{$phone} {
                flex-direction: column;
                width: 100%;
                gap: 4px;
                .bar {
                    display: none;                   
                }
                .el-input__inner { 
                    width: 95%;
                }
            }
        }
        @media #{$phone} {
            flex-direction: column;
            align-items: flex-start;
            .el-input__inner {
                width: 100%;                
            }
        }
    }
}

.scroll-content {
    &.only-x {
        overflow-y: hidden;
    }
    @media #{$phone} {
        width: 100%;
        overflow-y: scroll;
        table {
            table-layout: fixed;
            width: 150%;
        }
    }
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #35AD68;
    border: 1px solid #35AD68;
}
.el-upload-list {
    width: 120px;
    margin: 0 auto 10px;
    @media #{$phone} {
        width: 100px;
        height: 100px;   
    }
}
.el-cascader-menu:last-child .el-cascader-node, .el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child, .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:last-child
{
    padding-right: 0;
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--border-card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2) {
    padding-left: 0;
}
.el-upload-list li img {width: 100%;max-width: 100%;}
.el-upload-list--picture-card .el-upload-list__item {
    width: 120px;
    height: 120px;    
    margin: 0 auto;
    @media #{$phone} {
        width: 100px;
        height: 100px;   
    }
    img {
        width: 100%;
    }
}
// el reset
.el-input > .el-input__inner {
    border: 1px solid #CFD4DA;
    color:#5A5C5F;
    border-radius: 6px;
    height: 36px;
    &::placeholder {
        color:#5A5C5F;
    }
}
.el-radio-button__inner {
    padding: 9px 20px !important;
    color:#5A5C5F;
}
.el-input__icon {
    line-height: 30px;
}
.note-input.el-input {
    max-width: 90%;
}
.el-upload--picture-card {
    width: 120px;
    height: 120px;
    line-height: 120px;
    @media #{$phone} {
        width: 100px;
        height: 100px;  
        line-height: 100px; 
    }
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item+.el-tabs__item, .el-tabs--border-card>.el-tabs__header .el-tabs__item:first-child {margin-left: 0;}
.text-mx90 {
    max-width: 90%;
}
// .search-option__wrap .date-select-area .date-picker span {
//     @media #{$phone} {
//         display: block;
//     }
    
// }
// 탭
.el-tabs__nav-scroll {
    overflow-x: scroll;
}
.tabs-cont__wrap {
    margin:  32px 0;
    .el-tabs--border-card>.el-tabs__header {
        background-color: transparent;
        border-bottom: 1px solid #5A5C5F;
        margin: 0;
    }    
    .el-tabs--border-card {
        border: 0px solid #DCDFE6;
        background-color: transparent;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .12), 0 0 0px 0 rgba(0, 0, 0, .04);
    }
    .el-tabs__nav {
        background-color: transparent;
        display: flex;        
        float: none;
    }
    .el-tabs__item {
        position: relative;
        height: 45px;
        text-align: center;
        color: #222222 !important;
        font-size: 16px;
        line-height: 48px;
        font-weight: 400;
        padding: 0 32px;
        margin-left:0;
        width: 25%;
        @media #{$phone} {
            font-size: 14px;
            line-height: 48px;
            font-weight: 400;
            padding: 0px 0;
            width: 150px;
        }
        @media #{$phone480} {
            padding: 0 0px;
            width: 120px;
        }
        &.is-active {
            border-right-color: transparent !important;
            border-left-color: transparent !important;
            background-color: #222222  !important;
            color: #fff !important;
            border-radius: 8px 8px 0px 0px;
            font-weight: 700;
        }
    }
}
.el-tabs {
    &.type-two-items  {
        .el-tabs__item {width: 30%;}
    }
}
.el-tabs--border-card>.el-tabs__content {
    padding: 24px 0 !important;
}
.graph-area {
    min-height: 500px;
    background-color: #fff;
}
.el-dialog__wrapper {    
    &.detail-view-modal {
        .el-dialog {
            width: 90vw;            
        }
    }
    &.detail-view-modal__wrap {
        .el-dialog {
            width: 90vw;
            max-height: 70vh;
            overflow-y: scroll;
        }
    }
    .modal-content {
        .data-select {
            max-width: 50%;
            margin-bottom: 16px;
        }
    }
}
.el-dialog__header {
    background-color: #35AD68;
    padding: 20px 20px 20px;
    .el-dialog__title {
        color:#fff;        
    }
    .el-dialog__close {
        color:#fff;
        font-size: 30px;
    }
}

.detail-data {
    height: 200px;
    overflow-y: scroll;
}
.image-slider__wrap {
    margin: 32px 0 0;        
    .swiper-slide {
        img {
            width: 100%;
            height: auto;
            // aspect-ratio: 1 /1;
            @media #{$phone} {
                height: 80%;
                width: auto;
                // aspect-ratio: auto;
            }
            @media #{phone480} {
                height: 60%;                
            }                        
        }
    }
}

// 버튼
.button__wrap {
    &.is-bottom {
        .el-button {
            height: 36px;
            border-radius: 6px;
            line-height: 0.8;
        }
    }
    &.flex-end {
        display: flex;
        justify-content: flex-end;
    }
}

.el-button--primary {
    background-color: #0072BC;
    border-color: #0072BC;
}

.data-insert-form {
    display: flex;
    align-items: center;    
    .tit {
        @include fontoption(16px, #222, 600,18px);
        width: 25%;
    }
    .input-wrap {
        flex:1;
        .el-input-number {
            width: 100%;
        }
        .el-input {
            width: 100%;
            .el-input__inner {
                width: 100%;
            }
        }
    }
}
.el-dialog__wrapper {
    &.data-insert {
        &.no-title {
            .el-dialog__headerbtn {
                top: 6px;
            }            
        }

        .el-dialog {
            width: 60%;
            @media #{$phone} {
                width: 90%;
            }
        }
        .el-dialog__body {
            padding-bottom: 12px;
        }
    }
} 
.el-date-editor.el-input, 
.el-date-editor.el-input__inner {width: 100%;}

.swiper-pagination {
    position: relative;
    bottom:0;
    .swiper-pagination-current {
        font-weight: 700;
        color:#000;
    }
}
.swiper-wrapper {
    margin-bottom: 10px;
}
.swiper-button-prev, 
.swiper-button-next {
    width:18px;
    height:18px;
    background-size: 18px auto;
    bottom: 0;
    top: auto;
    &::after {
        display: none;
    }
}
.swiper-button-prev {
    background: url('../image/icon/icon_arrow_left.svg') no-repeat center;    
    left: 50%;
    margin-left: -40px;
}
.swiper-button-next {
    background: url('../image/icon/ico_arrow_right.svg') no-repeat center;    
    right: 50%;
    margin-right: -40px;    
}
//lnb menu
.side-menu__wrap {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 16;
    display: none;
    opacity: 0;
    transition: all 0.3s;
    &.is-active {
        display: block;
        opacity: 1;
        transition: all 0.3s;
    }
    .menu__wrap--inner {
        position: fixed;
        background: #fff;
        width: 40%;
        height: 100%;
        z-index: 17;
        left: -100%;
        top: 0;
        transition: all 0.3s;
        &.is-active {
            left:0;            
            transition: all 0.3s;
        }
        .menu-header {
            height: 80px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @include fontoption(18px, #000, 700, 20px);
            .btn-x {
                position: absolute;
                right: -33px;
                top: 0;
                width: 34px;
                height: 34px;
                background: #fff url(/img/ico_close.f4910426.svg) no-repeat center;
                background-size: 20px auto;
                border: 0;
                padding: 0;
                border-radius: 0;
            }
        }
        .menu-list {
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                a {
                    display: block;
                    padding: 12px 16px;
                    @include fontoption(18px, #000, 500, 20px);
                }
            }
        }
    }
}
.el-upload-list  {
    display: none;
}
.el-dialog__headerbtn:focus .el-dialog__close, 
.el-dialog__headerbtn:hover .el-dialog__close {color:#fff;}
.el-input-number {
    width: 90%;
    line-height: 36px;
}
.color-success {
    color:#0072BC;
}
.color-error {
    color:#FF4949;
}
// 대시보드
.link-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 150px 16px 32px;
    max-width: 70%;
    margin: 0 auto;
    @media #{$phone} {
        padding: 32px 16px 32px; 
    }
    .card-group {
        margin-top: 32px;
        display: flex;
        gap: 24px;        
        @media #{$phone} {
            flex-direction: column;
            gap: 16px;
        }
        .el-col {           
            .el-card {
                .el-card__body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    .el-main {
                        padding:0;
                        @media #{$phone} {
                            padding:0;
                        }
                    }
                    @media #{$phone} {
                        gap: 10px;
                    }
                    i {
                        color:#fff;
                        font-size: 60px;
                        @media #{$phone} {
                            font-size: 30px;
                        }
                    }
                }

            }             
            &:nth-child(1) {
                .el-card {
                    background-color: #E72A10;    
                    border-radius: 16px;
                }                
                
            }
            &:nth-child(2) {
                .el-card {
                    background-color: #E8A038;
                    border-radius: 16px;
                }                 
                
            }   
            &:nth-child(3) {
                .el-card {
                    background-color: #9AC143;
                    border-radius: 16px;
                }
            }              
            
        }        
    }
    .el-button--text {
        width: 100%;
    }
    .logo {
        text-align: center;
    }
    .el-button--text {
        height: 100%;
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            margin-top: 15px;
        }
        @include fontoption(20px,#fff, 600, 18px);
        @media #{$phone} {
            @include fontoption(16px,#fff, 600, 18px);
        }
    }
    .el-card {
        aspect-ratio: 1 / 0.7;
        @media #{$phone} {
            aspect-ratio: 1 / 0.5;
        }
        .el-card__body {
            height: 100%;
            display: flex;
            align-items: center;                    
        }
    }
}
.el-card__body, 
.el-main {
    @media #{$phone} {
        padding: 0;
    }
}
.el-table.notice-list {
    tr {
        td {
            &:nth-child(2) {
                text-align: left;
            }
        }
    }
}

// 로그인
.login__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(243,244, 246, 0.9);
    .login-form__wrap {
        width: 100%;
        max-width: 40%;
        @media #{$phone} {
            max-width: 60%;
        }
        .login-page__logo {
            text-align: center;    
            margin-bottom: 60px;    
        }
        .login__form {
            margin-top: 24px;
            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .input-item__wrap {
                    position: relative;
                    .icon-io {
                        position: absolute;
                        left: 17px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 15;
                    }
                }
            }
            .el-input {
                width: 100%;
                height: 40px;
                border-radius: 67px;
                .el-input__inner {
                    width: 100%;
                    height: 40px;
                    border-radius: 67px; 
                    color: #222;
                    padding-left: 37px;
                }
            }
        }
        .button__wrap {
            margin-top: 32px;
            button {
                width: 100%;
                border-radius: 67px;
            }
        }
    }
}

// 파일 업로드
.upload-demo .el-upload {
    margin-right: 20px;
}
.el-upload__tip {
    color: #909399;
    font-size: 12px;
}
.el-upload-list:not(:empty) {
    display: block;
}
.confirm-msg {
    @include fontoption(16px,#222, 600, 18px);    
    display: block;
    width: 100%;
    text-align: center;
}
.el-dialog__wrapper {
    &.no-header-modal {
        .el-dialog__header {
            display: none;
        }
    }
}